.resultBody{
    margin: 1vw auto;
    width: 60%;
    height: 35vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 7vw 4vw;
}
.Score{
    color: white;
    font-size: 2vw;
    text-align: center;
}
.Comment{
    font-size: 3vw;
    text-align: center;
}
.resultBar{
    width: 50%;
    height: 4vh;
    border-radius: 2vh;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
}
.resultBarCompleted{
    border-radius: 2vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}


@media screen and (max-width: 768px){
    .resultBody{
        margin: 8vw auto;
        width: 90%;
        height: 50vw;
    }
    .Comment{
        font-size: 6vw;
    }
    .Score{
        font-size: 4vw;
    }
    
}

@media screen and (max-width: 426px){
    .resultBody{
        height: 50vh;
        margin-top: 30vw;
        padding: 5vw;
    }
    .Comment{
        font-size: 7vw;
    }
    .Score{
        font-size: 5vw;
    }
    .resultBar{
        width: 70%;
        height: 3vh;
        border-radius: 2vh;
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
    }
    .resultBarCompleted{
        font-size: 4vw;
    }
}